{% extends "proj_base.html.twig" %}
{% block title %}About{% endblock %}
{% block body %}
    <header>
        <h1>Introduktion till projektet: Hållbar utveckling</h1>
    </header>
<p>Projektet går ut på att lyckas marknadsföra konceptet "Hållbar utveckling" genom att fokusera på
en eller flera av de 17 globala målen som definierats av FN. Uppgiften är att samla in, analysera och 
presentera data från de valda målen. Målet är att kunna presentera dessa områden inom hållbarhet med fakta,
betydelse och visa mätvärden på ett organiserat sätt</p>

<p>De valda områderna är "Hållbar energi för alla", God hälsa och välbefinnande" och "Hållbar konsumtion och produktion".
Dessa områden analyseras för att se vad vi människor kan göra för en hållbar utveckling.</p>

<p>Webbplatsens landingssida innehåller fakta om de tre områderna, samt tabeller och värden som samlats in.
Webbplatsen består av flera sidor, "Report", som innehåller redovisningstexten, och "Diagram" som 
visar alla diagram över de tre områderna.</p>

<p>Detta projekt låter oss hantera insamlad fakta och databashantering inom de olika områderna.
Genom att skapa flera diagram, tabeller och andra hanteringar visas data och värden på ett tydligt sätt.
Detta bidrar till kunskap och träning hur data kan visas med hjälp av diagram och tabeller.</p>

{% endblock %}