{% extends "blackjack/game_base.html.twig" %}

{% block title %}Game Page{% endblock %}

{% block body %}
    <h1>Spel information</h1>
<h2>Blackjack <a href="{{ path('start') }}" class="dra-kort">Starta Spelet</a></h2>    
<a href="{{ path('game_doc') }}"class="dra-kort">Dokumentationssidan</a>

<p class="text-block">Blackjack, är ett populärt kortspel som förekommer ofta på kasinon.
    Spelet introducerades under 1900-talet och är idag en av det mest populära kasinospel i världen.
    Den svenska varianten av Blackjack är kortspelet 21.<p>

    <h2>Regler</h2>
    <p class="text-block">Spelet går ut på att vinna över dealern genom att samla ihop kort så nära talet 21 som möjligt
    utan att överskrida summan 21, men ha ett högre värde än dealerns kort.</p>
    <p class="text-block">Numrerade kort har ett värde motsvarande deras nummer(2-10).
    Alla klädda kort är värda 10 och ess är värda 11 eller 1.</p>
    <p class="text-block">Bästa handen i Blackjack är "Blackjack". Detta utgörs av ett ess och ett kort som är värt 10.
    Detta måste fås på de två första korten.</p>
    <p class="text-block">Spelet startat med att varje spelare får två kort.

    <h2>Spelet</h2>
    <p class="text-block">Spelare får valet att be om ett kort i taget för att försöka öka dess totala värde.
    Efter att ha dragit önskat antal kort kommer dealern att slutföra sin hand.
    Alternativ kan spelaren behålla den nuvarande handens värde för att utmana dealern, detta kallas "stå".
    Annat Alternativ är "ge upp".</p>

{% endblock %}