{% extends "card_base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Card</h1>
    <p class="text-block">Förstasida Card ger information om strukturen på klasser,
    vilka klasser används och hur är de relaterade till varandra.
    Card länkar till samtliga undersidor för denna uppgift. <p>

{% endblock %}