{% extends "card_base.html.twig" %}

{% block title %}deck{% endblock %}

{% block body %}

    <h1>Kortlek</h1>

        <div class="card-deck">
       {% for card in deck %}
    <div class="card {{ card.getColor }}">{{ card.getSuit }} {{ card.getValue }}</div>
    {% endfor %}
        </div>

    {% endblock %}