{% extends "card_base.html.twig" %}

{% block title %}Home session{% endblock %}

{% block body %}
<h1>Session information</h1>
{% if sessionData %}
    <ul>
    {% for key, value in sessionData %}
        <li><strong>{{ key }}:</strong> {{ value }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>sessionData hittades inte</p>
{% endif %}
{% endblock %}