

{% block title %}api quote{% endblock %}

{% block body %}
    <h1>Dagens citat</h1>
    <h2>{{ quotes }}<h2>
    <h4>Tidsstämpel för när citatet genererades: {{ today }}<h4>
    <h4>Dagens datum är: {{ date }}<h4>


{% endblock %}