{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Presentation</h1>
    <p class="text-block">Mitt namn är Jacob Landefjäll och jag studerar nu webbprogrammering på BTH.<p>
    <p class="text-block">Jobbar vid sidan inom Friskis&Svettis Karlskrona. Målet är även att bli träningsledare till hösten.<p>
    <p class="text-block">Mina intressen är all sorts idrott och träning. Andra intressen är film, tv-spel och resor.<p>
    <p class="text-block">Det var lite kort om mig! Tack för att du tog din tid att läsa min presentation.<p>
        <img src="{{ asset('build/images/profilbild fb.jpg') }}" alt="" width="400" height="auto">

{% endblock %}