{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisningstexter för kursen MVC</h1>
   <nav>
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
        </ul>
    </nav>
        <section id="kmom01">
        <h2>Kmom01: Ramverk</h2>

    <p class="text-block">Klasser och objekt är viktigt att lära sig för att kunna förstå objektorienterat programmering.
    Förstå att klasser är en så kallad blueprint som skapar projekt och
    objekt konstruerar objektet som klassen skapade.
    Klasser definieras med klassnamn och ett kodblock som omsluter dess egenskaper.
    Egenskaper representerar information som objektet håller på. Beteendet för ett objekt är funktioner metoder som skapas från en klass.
    <p>
    
    <p class="text-block">Arbetet med kodbas, koden och strukturen upplevdes som givande och nyskapande.
    Övningarna gav en bra överblick för uppgiften me/report. Hur koden kan vara upplagd och dess funktioner.
    Detta är mitt första tillfälle att få arbeta med PHP, vilket leder förhoppningvis om en fortsatt engagemang i språket.
    Navigerar bland mappstrukturen och filer var inte det lättaste, dock fanns det nöje i skapa twig-filer med style och rutter. <p>


    <p class="text-block">Litteraturen PHP The Right Way är fortfarande under genomläsning.
    Lästa kapitel erbjöd bra med information om PHP:s funktioner, designmönster och databashantering.
    Kommande avsnitt om säkerhet och "Templating" anses bli intressant och givande.<p>

    <p class="text-block">TIL: Kursmomentet gav kunskap  om hur man skapar rutter i PHP, vilket gjorde det möjligt att utveckla en webbapplikationen med länkar, bilder och mer.
    Kraven var väldigt varierande, vilket ledde till tänka på olika sätt för att skapa sin egna annorlunda lucky_number sida, men också andra funderingar kring skapandet av me/report.
    Detta gav en ökad förståelse för användningen av ramverk i applikationer.
    <p>
    </section>

    <section id="kmom02">
        <h2>Kmom02: Objektorientering</h2>

        <p class="text-block">Arv, komposition, interface och trait är koncept som är till för att 
        organisera och strukturera kod. Dessa koncept kan användas för att återanvända kod, vilket ger utvecklare mer flexibla möjligheter i PHP.</p>
        <p class="text-block">Arv kan ses som en mekanism, där klasser kan ärva metoder från andra klasser (föräldraklass). Vilket gör det möjligt att återanvända kod.</p>
        <p class="text-block">komposition använder sig av andra klasser som en del av sin egen uppbyggnad. Det är en annan typ av relation från skillnad på arv. </p>
        <p class="text-block">interface kan ses som ett kontrakt. Ett interface använder sig av ingen kod, men en klass kan implementera ett interface. Den beskriver en uppsättning metodsignaturer, vilket kan
        tillhöra flera klasser som annars inte nödvändigtvis är relaterade till varandra.</p>
        <p class="text-block">Trait används av en klass. Dessa traits kan lösa flera funktioner och är återanvändbara i flera klasser.
        När en klass ska använda ett trait, kan traitets kod blir kopierad till en klassen. Koden blir en del av klassen.<p>
        
        <p class="text-block">Övningarna gav en bra överblick över uppgiften. Föreläsningen förklarade tydligt hur strukturen och funktionerna i koden. 
        Skapar rutter för lägga till flera tärningar, hur många träningar ska rulla, börja om och spara spelet.
        Detta underlättade uppgiften och dess krav.</p>
        <p class="text-block">Kursmomentet var en rolig men klurig upplevelse. Kraven för deck, shuffle, card var lite likt Kursmomentet 01 vilket underlättade.
        Kravet för att kunna dra kort var klurigt. Mycket fel på kod, strukturen och mappstrukturen. Bygga en JSON API och skapa klasser för webbsidorna var relativt lika och behövdes inte förändras allt för mycket i koden.
        Något jag vill nå till nästa Kursmomentet är riktiga kort till webbsidorna, fann informationen svår att greppa hur detta implementeras.<p>

        <p class="text-block">Jobba i Symfony är givande, roligt och annorlunda. Finner strukturen tydlig med routes, twig-filer och css. 
        Ramverket fungerar bra för webbapplikationer och som ett bra verktyg för bygga säkra applikationer.
        Ökad erfarenhet och kunskap av symfony är något jag strävar efter.<p

        <p class="text-block">>TIL: Kursmomentet har ökat kunskapen om symfony, hur vi kan skapa både spel med tärningar och kort.
        Ökad kunskap inom klasser och applikationer inom ramverket. förståelse för fler funktioner och koncept med rutter, twig-filer och JSON routes.
        Jag har fått bättre överblick på hur github kan användas. För att få ett snyggt github repo med taggar, commit meddelande och andra värdefulla funktioner.</p>

        <p class="text-block">








{% endblock %}