{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisningstexter för kursen MVC</h1>
   <nav>
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
        </ul>
    </nav>
        <section id="kmom01">
        <h2>Kmom01: Ramverk</h2>
    <p class="text-block">kunskapen och erfarenheten kring objektorienterat programmering är till en viss del begränsad.
    Erfarenheten av den objektorienternade kursen "oopython" upplevdes som utmanande och ett annorlunda tänk kring programmering.
    Dock ser jag möjligheterna med objektorienterat programmering för oss utvecklare.
    OOP har en tydlig struktur med arv och använder sig av återanvänding av kod med klasser och objekt.<p>
    

    <p class="text-block">Klasser och objekt är viktigt att lära sig för att kunna förstå objektorienterat programmering.
    Förstå att klasser är en så kallad blueprint som skapar projekt och
    objekt konstruerar objektet som klassen skapade.
    Klasser definieras med klassnamn och ett kodblock som omsluter dess egenskaper.
    Egenskaper representerar information som objektet håller på. Beteendet för ett objekt är funktioner metoder som skapas från en klass.
    <p>
    
    <p class="text-block">Arbetet med kodbas, koden och strukturen upplevdes som givande och nyskapande.
    Övningarna gav en bra överblick för uppgiften me/report. Hur koden kan vara upplagd och dess funktioner.
    Detta är mitt första tillfälle att få arbeta med PHP, vilket leder förhoppningvis om en fortsatt engagemang i språket.
    Navigerar bland mappstrukturen och filer var inte det lättaste, dock fanns det nöje i skapa twig-filer med style och rutter. <p>


    <p class="text-block">Litteraturen PHP The Right Way är fortfarande under genomläsning.
    Lästa kapitel erbjöd bra med information om PHP:s funktioner, designmönster och databashantering.
    Kommande avsnitt om säkerhet och "Templating" anses bli intressant och givande.<p>

    <p class="text-block">TIL: Kursmomentet gav kunskap  om hur man skapar rutter i PHP, vilket gjorde det möjligt att utveckla en webbapplikationen med länkar, bilder och mer.>
    Kraven var väldigt varierande, vilket ledde till tänka på olika sätt för att skapa sin egna annorlunda lucky_number sida, men också andra funderingar kring skapandet av me/report.
    Detta gav en ökad förståelse för användningen av ramverk i applikationer.
    <p>
    </section>



{% endblock %}